# Development
PORT=1600
HTTPS=false

# Vite App Variables (prefix with VITE_ to expose to client code)
VITE_PORT=1600
VITE_SERVER_PORT=16000
VITE_APP_ENV=local
# VITE_APP_ENV=production

# URLs
VITE_DEV_API_URL=https://api-dev.aodit.ai
VITE_PROD_API_URL=https://api.aodit.ai

# Tracking
VITE_GOOGLE_ANALYTICS_ID=
