# Development
DEV_PORT=16000
PROD_PORT=16004
NODE_ENV=development
# NODE_ENV=production
LOCAL_CLIENT_URL="http://localhost:1600"
LOCAL_SERVER_URL="http://localhost:16000"

## Allowed Origins
# Server    
PUBLIC_URLS_SERVER_DEV="http://api-dev.app.ai, https://api-dev.app.ai"
PUBLIC_URLS_SERVER_PROD="http://api.app.ai, https://api.app.ai"
# Client
PUBLIC_URLS_CLIENT_DEV="http://localhost:1600, http://dev.app.ai, https://dev.app.ai"
PUBLIC_URLS_CLIENT_PROD="https://app.ai, https://www.app.ai"

# Encryption
ENCRYPTION_PASSWORD=
ENCRYPTION_SALT=

# API Keys
OPENAI_API_KEY=
OPENROUTER_API_KEY_DEV=
OPENROUTER_API_KEY_PROD=

# Database
MONGODB_URI=
MONGODB_URI_DEV=
MONGODB_URI_PROD=

# GitLab
GITLAB_PROJECT_ID=
GITLAB_ACCESS_TOKEN=
# Google Service Account
GOOGLE_TYPE=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
GOOGLE_AUTH_PROVIDER_CERT_URL=
GOOGLE_CLIENT_CERT_URL=
GOOGLE_UNIVERSE_DOMAIN=

# Hosting
HOST_AWS_REGION= 
HOST_AWS_S3_BUCKET_NAME=my-app
HOST_AWS_S3_KEY_PREFIX_DEV=my-app-dev/
HOST_AWS_S3_KEY_PREFIX_PROD=my-app-prod/
HOST_AWS_ACCESS_KEY=
HOST_AWS_SECRET_KEY=

# Email Service
SMTP=
SMTP_PORT=
EMAIL=
EMAIL_PASSWORD=

# Analytics
GOOGLE_ANALYTICS_MEASUREMENT_ID=
GOOGLE_ANALYTICS_API_SECRET=

# Auth
# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
JWT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
PHONE_OTP_EXPIRY_SECONDS=300
PHONE_OTP_MAX_ATTEMPTS=5

# Stripe [TEST]
STRIPE_TEST_PUB_KEY=
STRIPE_TEST_SECRET_KEY=
STRIPE_TEST_WEBHOOK_SECRET=
# Stripe [LIVE]
STRIPE_LIVE_PUB_KEY=
STRIPE_LIVE_SECRET_KEY=
STRIPE_LIVE_WEBHOOK_SECRET=
